.header{
  height: 55px;
 background-color: white;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: 100;

}

.left-section{
display: flex;
align-items: center;
}
.hamburger-menu{
height: 24px;
margin-left: 24px;
margin-right: 24px;
}
.youtube-logo{
height: 20px;
}

.middle-section{
flex: 1;
margin-left: 70px;
margin-right: 35px;
max-width: 500px;
display: flex;
align-items: center;
}
.search-bar{
  height: 36px;
  display: flex;
  flex: 1;
  padding-left: 15px;
  font-size: 16px ;

  border-top-left-radius: 20px;
  border-bottom-left-radius:20px ;

  border-color: rgb(192, 192, 192);
  border-style: solid;
  border-width: 1px;
  box-shadow:  inset 1px 2px 3px
  rgba(0,0,0,0.05);
  width: 0;
  
}
.search-bar::placeholder{
  font-size: 16px;
}
.search-button{
  height: 39px;
  width:66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color:rgb(192, 192, 192);
  margin-left: -1px;

  border-top-right-radius: 20px;
  border-bottom-right-radius:20px ;
}
.search-icon{
height: 25px;
margin-top:4px;
}

.voice-button{
  height: 40px;
  width:40px;
  margin-left: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(243, 239, 239);
}

.voice-icon{
height: 24px;
margin-top: 4px;

}


.right-section{
width: 180px;
display: flex;
align-items: center;
justify-content: space-between;
margin-right:20px;
flex-shrink: 0;
}
.upload-icon{
height: 24px;
}
.notification-icon{
  height: 24px;
}
.notification-icon-container{
  position: relative;
  
}
.notification-count{
position: absolute;
top: -2px;
right: -11px;
background-color: rgb(204, 0, 0);
color: white;
font-family: roboto,Arial;
font-size: 11px;
padding-left: 6px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 20px;
}
.photo-icon{
  height: 32px;
  border-radius: 16px;
}
.header-buttons{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 40px;
  height: 40px;
  z-index: 100;
  left: 85px;
  margin-right: 10px;
  margin-top: 12px;
  background-color: white;

  
  }
.buttons-head{
margin-right: 20px;
height: 30px;
border-radius: 10px;
background-color: rgb(242, 242, 242);
border: none;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 25px;
font-family: roboto,Arial;
font-weight: 500;
font-style: bold;
text-decoration: solid;


}
